.main-nav {
    font-family: verdana, sans-serif;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.main-nav li { float: left;
}
.main-nav li a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
.logo {
    width: 20%;
    padding: 1%;
}
.header {
    background-color: grey;
    width: 73%;
    padding: 1%;
    display: flex;
    flex-direction: row-reverse;
}
